/* styles-signin.css */
:root {
    --main-color: #fa8575;
    --button-color: #F1C439; /* Yellow button color */
    --input-opacity: 0.4; /* Adjust the opacity value as needed */
}

* {
    background-size: cover;
    font-family: 'Nunito', sans-serif;
    color: #251B13;
}

.signin-container {
    position: relative;
    width: 400px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 80vh;
}

.sign-in-image {
    position: relative;
    top: -13%;
    left: 65%;
    width: 100px; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
}

.signin {
    width: 100%;
    background-color: #fff;
    border: 5px solid var(--main-color);
    padding: 20px;
    text-align: start;
    border-radius: 15px;
}

.signin h4 {
    color: black;
    font-size: 24px;
    margin-bottom: 5px;
}

.signin input[type="text"],
.signin input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 25px;
    border: 1px solid var(--button-color); /* Change to --button-color for the border color */
    border-radius: 15px;
    background-color: rgba(241, 196, 57, var(--input-opacity));
}

.forget {
    position: relative;
    color: black;
    text-decoration: underline;
    left: 110px;
}

/* Set button background color to yellow and make text bold */
.sub {
    width: 200px;
    position: relative;
    left: 25px;
    background-color: var(--button-color);
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold; /* Make button text bold */
}

.reg {
    width: 200px;
    position: relative;
    left: 25px;
    background-color: #fff;
    border: 3px solid var(--button-color); /* Change to --button-color for the border color */
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 15px;
    cursor: pointer;
}

.signin button a {
    text-decoration: none;
    color: black;
}
