<nav>
    <ul>
        <a href="../main_content/main_content.html"> <img src="Logo.JPG" alt="Logo"> </a>
    </ul>
</nav>
<img src="catdog.jpg" alt="catdog">
<form>
    <h4>БҮРТГҮҮЛЭХ</h4>
    <input type="text" placeholder="Утасны дугаар">
    <input type="email" placeholder="Email">
    <input type="Нэр" placeholder="Нэр">
    <input type="text" placeholder="Утасны дугаар">
    <input type="password" placeholder="Нууц үг">
    <input type="password" placeholder="Нууц үг давтан оруулах">
    <button>Бүртгүүлэх</button>
    <button><a href="../signin/signin.html">Нэвтрэх</a></button>
</form>
<footer>
    <p>&copy; 2023 Your Website Name</p>
</footer>