<nav>
    <ul>
        <a href="../main_content/main_content.html"> <img src="Logo.JPG" alt="Logo"></a>
        <li><a href="#">Үйлчилгээ</a></li>
        <li><a href="#">Зөвлөмж</a></li>
        <li><a href="#">Тухай</a></li>
        <li><button>Нэвтрэх</button></li>
    </ul>
</nav>
<div><a href="#">ХАЙЖ БАЙНА</a></div>
<aside>
    <form>
        <label>
            <input type="radio" name="choice">
            Нохой
        </label>
        <br>
        <label>
            <input type="radio" name="choice">
            Муур
        </label>
        <br>
        <label for="options">Өнгө:</label>
        <select id="options" name="options">
            <option value="option1">Хар</option>
            <option value="option2">Цагаан</option>
            <option value="option3">Саарал</option>
            <option value="option3">Шаргал</option>
            <option value="option3">Бор</option>
        </select>
        <br>
        <label for="options">Таних тэмдэг:</label>
        <select id="options" name="options">
            <option value="option1">Хүзүүвч</option>
            <option value="option2">Ээмэг</option>
            <option value="option3">Хувцас</option>
        </select>
        <br>
        <input type="submit" value="Submit">
    </form>
</aside>
<section>
    <article><img src="lpet1.JPG" alt="lpet1">
        <p>3 хоногийн өмнө</p>
    </article>
    <article><img src="lpet2.JPG" alt="lpet2">
        <p>5 хоногийн өмнө</p>
    </article>
    <article><img src="lpet3.JPG" alt="lpet3">
        <p>9 хоногийн өмнө</p>
    </article>
    <article><img src="lpet4.JPG" alt="lpet4">
        <p>3 хоногийн өмнө</p>
    </article>
    <article><img src="lpet5.JPG" alt="lpet5">
        <p>5 хоногийн өмнө</p>
    </article>
    <article><img src="lpet6.JPG" alt="lpet6">
        <p>9 хоногийн өмнө</p>
    </article>
    <article><img src="lpet7.JPG" alt="lpet7">
        <p>3 хоногийн өмнө</p>
    </article>
    <article><img src="lpet8.JPG" alt="lpet8">
        <p>5 хоногийн өмнө</p>
    </article>
    <article><img src="lpet9.JPG" alt="lpet9">
        <p>9 хоногийн өмнө</p>
    </article>
</section>
<section>
    <button>1</button>
    <button>1</button>
    <button>...</button>
    <button>18</button>
</section>
<footer>
    <p>&copy; 2023 Your Website Name</p>
</footer>