<nav>
    <ul>
        <a href="../main_content/main_content.html"> <img src="Logo.JPG" alt="Logo"></a>
    </ul>
</nav>
<img src="catdog.jpg" alt="catdog">
<form>
    <h4>НЭВТРЭХ</h4>
    <input type="text" placeholder="Утасны дугаар">
    <input type="password" placeholder="Нууц үг">
    <a href="#">Нууц үг ээ мартсан?</a>
    <button><a href="../main_content/main_content.html">Нэвтрэх</a></button>
    <button><a href="../signup/signup.html">Бүртгүүлэх</a></button>
</form>
<footer>
    <p>&copy; 2023 Your Website Name</p>
</footer>